header img{
    height: 80px;
    width: 80px;
    background-color: #2c2847;
    display:flex;
   
    
}

header{
    height: 10vh;
    width:100vw;
    background-color: #2c2847;
   



}

.Marc{
display:flex;
justify-content: center;
align-items: center;


}

header ul{

display:flex;
justify-content:space-evenly;
flex-wrap: nowrap;
font-size: 30px;
align-items: baseline;

}

